.form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form form {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.form form input,
.contato .form form textarea {
    width: 400px;
    margin: 8px 0;
    padding: 10px;
    border: none;
    border-radius: 10px 0px 10px 10px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25), 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.form form textarea {
    resize: none;
}

.form button {
    margin-top: 20px;
    padding: 10px;
    border: 2px solid;
    background-color: transparent;
    color: #FFC300;
    border-radius: 10px 0px 10px 10px;
    font-weight: bold;
    font-size: 18px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25), 4px 4px 4px rgba(0, 0, 0, 0.25);
    transition: 0.5s;
}

.form button:hover {
    color: #222222;
    background-color: #FFC300;
    transition: 0.5s;
}

.form ul {
    margin-top: 20px;
}

.form ul li {
    list-style: none;
    padding: 10px 0;
}